<app-abbegate-header></app-abbegate-header>
<p-table>
  <ng-template pTemplate="header">
    <tr>
      <th>Job ID</th>
      <th>Express</th>
      <th>Category</th>
      <th>Product Description</th>
      <th>Design Name</th>
      <th>Print Color</th>
      <th>Art Work</th>
      <th>Visual Create</th>
      <th>Visual Sent</th>
      <th>Visual Approved</th>
      <th>External</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </ng-template>
</p-table>
