.container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-container {
    margin: 1rem;
    /* border: 2px solid #ccc; */
    border-radius: 10px;
    display: grid;
    justify-content: center;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  .category {
    display: flex;
    gap: 1.5rem;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .top {
    margin-top: 2rem;
  }

  .company-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
  }

  .contact-container {
    /* display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem; */
  }

  .contact-item {
    display: flex;
    gap: 1rem;
  }

  .add-icon {
    display: flex;
    justify-content: end;
  }
  
  .contact-details-container {
    margin-top: 1rem;
  }