<app-abbegate-header></app-abbegate-header>
<h2 style="text-align: center">Company Details</h2>

<p-table
  (onFilter)="search('')"
  [value]="customerFormData?.companyData"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20]"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Company Name</th>
      <th>Email</th>
      <th>Country</th>
      <th>Zip Code</th>
      <th>Group</th>
      <th><span class="pi pi-search" (click)="toggleSeachInput()"></span></th>
      <th></th>
    </tr>
    <tr *ngIf="showSearchFields">
      <th>
        <input
          type="text"
          pInputText
          placeholder="Name"
          [(ngModel)]="name"
          (keyup.enter)="search(name)"
        />
      </th>
      <th>
        <input
          type="text"
          pInputText
          placeholder="Email"
          [(ngModel)]="email"
          (keyup.enter)="search(email)"
        />
      </th>
      <th>
        <input
          type="text"
          pInputText
          placeholder="Country"
          [(ngModel)]="country"
          (keyup.enter)="search(country)"
        />
      </th>
      <th>
        <input
          type="text"
          pInputText
          placeholder="Zip Code"
          [(ngModel)]="zipcode"
          (keyup.enter)="search(zipcode)"
        />
      </th>
      <th>
        <input
          type="text"
          pInputText
          placeholder="Group"
          [(ngModel)]="group"
          (keyup.enter)="search(group)"
        />
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-companyDetails>
    <tr>
      <td>{{ companyDetails.companyName }}</td>
      <td>{{ companyDetails.companyEmail }}</td>
      <td>{{ companyDetails.country }}</td>
      <td>{{ companyDetails.zipCode }}</td>
      <td>{{ companyDetails.group_name }}</td>
      <td class="icon-cell">
        <span
          class="pi pi-pencil"
          (click)="editCustomerDetails(companyDetails)"
        ></span>
      </td>
      <td class="icon-cell" (click)="deleteCustomer(companyDetails)">
        <span class="pi pi-trash"></span>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-toast></p-toast>
