<app-abbegate-header></app-abbegate-header>
<p-fieldset legend="New Order">
  <p-floatLabel>
    <input id="category" type="text" pInputText />
    <label for="category">Category</label>
  </p-floatLabel>

  <p-floatLabel>
    <input id="p_desc" type="text" pInputText />
    <label for="p_desc">Product Description</label>
  </p-floatLabel>

  <p-floatLabel>
    <input id="design" type="text" pInputText />
    <label for="design">Design Name</label>
  </p-floatLabel>

  <p-floatLabel>
    <input id="print_color" type="text" pInputText />
    <label for="print_color">Print Color</label>
  </p-floatLabel>
</p-fieldset>
