<div class="container">
  <div class="form-container">
    <div class="header">
      <img
        src="../../assets/images/royal-lion.png"
        alt="logo"
        style="width: 85px"
      />
      <h2>RLM</h2>
    </div>

    <form [formGroup]="loginForm">
      <div class="email-container">
        <p-floatLabel>
          <input
            id="email"
            type="text"
            pInputText
            formControlName="email"
            required
          />
          <label for="email">Email</label>
        </p-floatLabel>
      </div>

      <div class="pass-container">
        <p-floatLabel>
          <input
            id="password"
            type="password"
            pInputText
            formControlName="password"
            required
          />
          <label for="password">Password</label>
        </p-floatLabel>
      </div>
    </form>

    <div class="login-container">
      <p-toast></p-toast>
      <p-button label="Login" pRipple (click)="login()"></p-button>
    </div>

    <div *ngIf="validCredentials">
      <p class="validation">Wrong email or password</p>
    </div>

    <div *ngIf="enterCredentials">
      <p class="validation">Please enter email and password</p>
    </div>
  </div>
</div>
