  .form-group {
    margin-bottom: 1.5rem;
    width: calc(50% - 10px);
    margin-right: 10px;
  }

  .category {
    display: flex;
    gap: 1.5rem;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .top {
    margin-top: 2rem;
  }

  .company-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
  }

  .contact-item {
    display: flex;
    gap: 1rem;
  }

  .add-icon {
    display: flex;
    justify-content: end;
  }
  
  .contact-details-container {
    margin-top: 1rem;
  }

  @media screen and (max-width: 1000px) {
    .company-container {
      grid-template-columns: 1fr; 
    }
  
    .contact-item {
      flex-direction: column; 
    }
  }