@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

.p-menubar {
    border: none;
    background: none;
}
.pi.pi-times {
    color: red;
}