.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .form-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 320px; 
  }

  .information {
    display: grid;
  }